body {
  background-color: #0c3b2e;
}

.App {
  text-align: center;
  height: 100%;
  padding: 10px;
}

.App-logo {
  height: 60px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: monospace;
  color: #fff;
  margin-bottom: 10px;
}
